<div class=" col border border-warning rounded-2 mt-2"style="width: 850px; height:640px;">
    <div class="d-flex mt-3 flex-column justify-content-center  p-3">
    <div class="d-flex justify-content-center align-items-center m-3">
    <label for="" style="padding-left: 50px;margin:3px;">UserName:</label>
    <input type="email"  [(ngModel)]="fname" style="width: 250px;padding:8px; "/>
    </div>
    <div class="d-flex justify-content-center align-items-center m-3">
    <label for=""style="padding-left: 75px;margin:3px;">Contact:</label>
    <input type="number" style="width: 250px;padding:8px;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3">
        <label for="" style="padding-left: 85px;margin:3px;">Place:</label>
    <input type="text" style="width: 250px;padding:8px;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3" >
        <label for=""style="padding-right:5px; margin:4px;" >Vehicles Type:</label>
    <input type="text" style="width: 250px;padding:8px;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3" >
        <label for=""style="padding-right:5px; margin:3px;" >Strating Date:</label>
    <input type="date" style="width: 250px;padding:8px;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3" >
        <label for=""style="padding-right:5px; margin:3px;" >Ending Date:</label>
    <input type="date" style="width: 250px;padding:8px;">
    </div>
    <div class="d-flex justify-content-center align-items-center m-3">
        <label for="" style="padding-right:5px;">How Many Rooms:</label>
    <input type="number" style="width: 250px;padding:8px;"><br>
    </div>
    
</div>
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-info btn-lg m-2 p-2">Save</button>
        <button class="btn btn-info btn-lg m-2 p-2">Update</button>
        <button class="btn btn-info btn-lg m-2 p-2">Delete</button>
    </div>
    
 
  </div>